{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<style>
  .drawer {
    visibility: hidden;
  }
</style>

<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('cart-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
              <a href="{{ routes.all_products_collection_url }}" class="button">
                {{ 'general.continue_shopping' | t }}
              </a>

              {%- if shop.customer_accounts_enabled and customer == null -%}
                <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
                <p class="cart__login-paragraph">
                  {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                </p>
              {%- endif -%}
            </div>
          </div>
          {%- if settings.cart_drawer_collection != blank -%}
            <div class="cart-drawer__collection">
              {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="drawer__header">
        <h2 class="drawer__heading">Your Bag</h2>
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
      <cart-drawer-items
        {% if cart == empty %}
          class=" is-empty"
        {% endif %}
      >
        <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart__contents cart-drawer__form"
          method="post"
        >
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
              <div class="drawer__cart-items-wrapper">
                <table class="cart-items" role="table">
                  <thead role="rowgroup">
                    <tr role="row">
                      <th
                        id="CartDrawer-ColumnProduct"
                        class="caption-with-letter-spacing"
                        scope="col"
                        role="columnheader"
                      ><div class="bag-head">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.0167 20.8605C17.6311 20.8605 18.4382 20.8605 19.034 20.538C19.5575 20.2546 19.9714 19.8047 20.2104 19.2595C20.4823 18.639 20.4153 17.8346 20.2812 16.2258L19.6572 10.5201C19.5418 9.13595 19.4841 8.44385 19.1776 7.92002C18.9077 7.45873 18.5057 7.0889 18.0236 6.85821C17.4762 6.59625 16.9767 6.59637 15.5877 6.59637L9.1985 6.59637C7.80951 6.59637 6.91994 6.59624 6.37246 6.85821C5.89035 7.0889 5.48842 7.45873 5.21849 7.92002C4.91196 8.44385 4.85429 9.13595 4.73894 10.5201L4.11488 16.2258C3.98082 17.8346 3.91378 18.639 4.18572 19.2595C4.42465 19.8047 4.83862 20.2546 5.36208 20.538C5.95787 20.8605 6.76503 20.8605 8.37937 20.8605H16.0167Z" fill="url(#paint0_linear_6375_18465)"/>
                        <path d="M15.7641 5.70473C15.7641 4.75895 15.3884 3.85191 14.7196 3.18315C14.0509 2.51438 13.1438 2.13867 12.198 2.13867C11.2523 2.13867 10.3452 2.51438 9.67646 3.18315C9.0077 3.85191 8.63199 4.75895 8.63199 5.70473" fill="url(#paint1_linear_6375_18465)"/>
                        <path d="M15.7641 8.82503V5.70473C15.7641 4.75895 15.3884 3.85191 14.7196 3.18315C14.0509 2.51438 13.1438 2.13867 12.198 2.13867C11.2523 2.13867 10.3452 2.51438 9.67646 3.18315C9.0077 3.85191 8.63199 4.75895 8.63199 5.70473V8.82503M4.73894 10.5201L4.11488 16.2258C3.98082 17.8346 3.91378 18.639 4.18572 19.2595C4.42465 19.8047 4.83862 20.2546 5.36208 20.538C5.95787 20.8605 6.76503 20.8605 8.37937 20.8605H16.0167C17.6311 20.8605 18.4382 20.8605 19.034 20.538C19.5575 20.2546 19.9714 19.8047 20.2104 19.2595C20.4823 18.639 20.4153 17.8346 20.2812 16.2258L19.6572 10.5201C19.5418 9.13595 19.4841 8.44385 19.1776 7.92002C18.9077 7.45873 18.5057 7.0889 18.0236 6.85821C17.4762 6.59625 16.9767 6.59637 15.5877 6.59637L9.1985 6.59637C7.80951 6.59637 6.91994 6.59624 6.37246 6.85821C5.89035 7.0889 5.48842 7.45873 5.21849 7.92002C4.91196 8.44385 4.85429 9.13595 4.73894 10.5201Z" stroke="#262626" stroke-width="1.4"/>
                        <defs>
                        <linearGradient id="paint0_linear_6375_18465" x1="20.398" y1="11.4996" x2="3.99805" y2="11.4996" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#DDEDEB"/>
                        <stop offset="1" stop-color="#DDEDEB" stop-opacity="0"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_6375_18465" x1="20.398" y1="11.4996" x2="3.99805" y2="11.4996" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#DDEDEB"/>
                        <stop offset="1" stop-color="#DDEDEB" stop-opacity="0"/>
                        </linearGradient>
                        </defs>
                        </svg>
                        Bag Details</div>
                      </th>
                      {% comment %} <th
                        id="CartDrawer-ColumnTotal"
                        class="right caption-with-letter-spacing"
                        scope="col"
                        role="columnheader"
                      >
                        {{ 'sections.cart.headings.total' | t }}
                      </th> {% endcomment %}
                      <th id="CartDrawer-ColumnQuantity" role="columnheader">
                        <span class="visually-hidden">{{ 'sections.cart.headings.quantity' | t }}</span>
                      </th>
                    </tr>
                  </thead>

                  <tbody role="rowgroup">
                    {%- for item in cart.items -%}
                      <tr id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart-item" role="row">
                        <td class="cart-item__media" role="cell" headers="CartDrawer-ColumnProductImage">
                          {% if item.image %}
                            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                            <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                            <img
                              class="cart-item__image"
                              src="{{ item.image | image_url: width: 300 }}"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                            >
                          {% endif %}
                        </td>

                        <td class="cart-item__details" role="cell" headers="CartDrawer-ColumnProduct">
                          {%- if settings.show_vendor -%}
                            <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                          {%- endif -%}
                        <div class="title-remove-wrapper">
                          <a href="{{ item.url }}" class="cart-item__name h4 break">
                            {{- item.product.title | escape -}}
                          </a>


                          <cart-remove-button
                            id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                            data-index="{{ item.index | plus: 1 }}"
                          >
                            <button
                              type="button"
                              class="button button--tertiary cart-remove-button"
                              aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                              data-variant-id="{{ item.variant.id }}"
                            >
                              <span class="svg-wrapper">
                                {{- 'icon-remove.svg' | inline_asset_content -}}
                              </span>
                            </button>
                          </cart-remove-button>
                        </div>
                        {% comment %}
                          {%- if item.original_price != item.final_price -%}
                            <div class="cart-item__discounted-prices">
                              <span class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </span>
                              <s class="cart-item__old-price product-option">
                                {{- item.original_price | money -}}
                              </s>
                              <span class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </span>
                              <strong class="cart-item__final-price product-option">
                                {{ item.final_price | money }}
                              </strong>
                            </div>
                          {%- else -%}
                            <div class="product-option">
                              {{ item.original_price | money }}
                            </div>
                          {%- endif -%}
                          {% endcomment %}
                          {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                            <dl>
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="product-option">
                                    <dt>{{ option.name }}:</dt>
                                    <dd>
                                      {{ option.value -}}
                                      {%- unless forloop.last %}, {% endunless %}
                                    </dd>
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}

                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option">
                                    <dt>{{ property.first }}:</dt>
                                    <dd>
                                      {%- if property.last contains '/uploads/' -%}
                                        <a
                                          href="{{ property.last }}"
                                          class="link"
                                          target="_blank"
                                          aria-describedby="a11y-new-window-message"
                                        >
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </dl>

                            <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                          {%- endif -%}

                          <ul
                            class="discounts list-unstyled"
                            role="list"
                            aria-label="{{ 'customer.order.discount' | t }}"
                          >
                            {%- for discount in item.line_level_discount_allocations -%}
                              <li class="discounts__discount">
                                {{- 'icon-discount.svg' | inline_asset_content -}}
                                {{ discount.discount_application.title }}
                              </li>
                            {%- endfor -%}
                          </ul>
                        
                        </td>
                        {% comment %}
                        <td class="cart-item__totals right" role="cell" headers="CartDrawer-ColumnTotal">
                              {%- render 'loading-spinner' -%}
                          <div class="cart-item__price-wrapper">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <div class="cart-item__discounted-prices">
                                <span class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </span>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                                <span class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </span>
                                <span class="price price--end">
                                  {{ item.final_line_price | money }}
                                </span>
                              </div>
                            {%- else -%}
                              <span class="price price--end">
                                {{ item.original_line_price | money }}
                              </span>
                            {%- endif -%}

                            {%- if item.variant.available and item.unit_price_measurement -%}
                              <div class="unit-price caption">
                                <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                {{ item.unit_price | money }}
                                <span aria-hidden="true">/</span>
                                <span class="visually-hidden"
                                  >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                >
                                {%- if item.unit_price_measurement.reference_value != 1 -%}
                                  {{- item.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ item.unit_price_measurement.reference_unit }}
                              </div>
                            {%- endif -%}
                          </div>
                        </td>
                        {% endcomment %}
                        {%- liquid
                          assign has_qty_rules = false
                          if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                            assign has_qty_rules = true
                          endif

                          assign has_vol_pricing = false
                          if item.variant.quantity_price_breaks.size > 0
                            assign has_vol_pricing = true
                          endif
                        -%}
                        <td
                          class="cart-item__quantity {% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}"
                          role="cell"
                          headers="CartDrawer-ColumnQuantity"
                        >

                          {%- if item.original_price != item.final_price -%}
                            <div class="cart-item__discounted-prices">
                              <span class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </span>
                              <s class="cart-item__old-price product-option">
                                {{- item.original_price | money -}}
                              </s>
                              <span class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </span>
                              <strong class="cart-item__final-price product-option">
                                {{ item.final_price | money }}
                              </strong>
                            </div>
                          {%- else -%}
                            <div class="product-option">
                              {{ item.original_price | money }}
                            </div>
                          {%- endif -%}
                          <quantity-popover>
                            <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                              <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                                <quantity-input class="quantity cart-quantity">
                                  <button class="quantity__button" name="minus" type="button">
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.decrease'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-minus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                  <input
                                    class="quantity__input"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="0"
                                    data-min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >
                                  <button class="quantity__button" name="plus" type="button">
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.increase'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-plus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                </quantity-input>
                              </div>
                              {% comment %}
                              <cart-remove-button
                                id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                                <button
                                  type="button"
                                  class="button button--tertiary cart-remove-button"
                                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                                  data-variant-id="{{ item.variant.id }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-remove.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                              </cart-remove-button>
                              {% endcomment %}
                            </div>
                            {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                                class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary"
                                aria-expanded="false"
                              >
                                <span class="svg-wrapper">
                                  {{- 'icon-info.svg' | inline_asset_content -}}
                                </span>
                                <span>
                                  {%- if has_vol_pricing -%}
                                    {{ 'products.product.volume_pricing.note' | t }}
                                  {%- elsif has_qty_rules -%}
                                    {{ 'products.product.quantity.note' | t }}
                                  {%- endif -%}
                                </span>
                              </button>
                            {%- endif -%}
                            {%- if has_vol_pricing or has_qty_rules -%}
                              <div
                                class="cart-items__info global-settings-popup quantity-popover__info"
                                tabindex="-1"
                                hidden
                              >
                                {%- if has_qty_rules == false -%}
                                  <span class="volume-pricing-label caption">
                                    {{- 'products.product.volume_pricing.title' | t -}}
                                  </span>
                                {%- endif -%}
                                <div class="quantity__rules caption">
                                  {%- if item.variant.quantity_rule.increment > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.multiples_of'
                                        | t: quantity: item.variant.quantity_rule.increment
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.min > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.min_of'
                                        | t: quantity: item.variant.quantity_rule.min
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.max != null -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.max_of'
                                        | t: quantity: item.variant.quantity_rule.max
                                      -}}
                                    </span>
                                  {%- endif -%}
                                </div>
                                <button
                                  class="button-close button button--tertiary"
                                  type="button"
                                  aria-label="{{ 'accessibility.close' | t }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-close.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                                {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                  <volume-pricing class="parent-display">
                                    <ul class="list-unstyled">
                                      <li>
                                        <span>{{ item.variant.quantity_rule.min }}+</span>
                                        <span>{{ item.variant.price | money_with_currency }}/ea</span>
                                      </li>
                                      {%- for price_break in item.variant.quantity_price_breaks -%}
                                        <li>
                                          <span>
                                            {{- price_break.minimum_quantity -}}
                                            <span aria-hidden="true">+</span></span
                                          >
                                          <span>{{ price_break.price | money_with_currency }}/ea</span>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </volume-pricing>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            <div
                              id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                              class="cart-item__error"
                              role="alert"
                            >
                              <small class="cart-item__error-text"></small>
                              <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                              </span>
                            </div>
                          </quantity-popover>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            {%- endif -%}
            <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
              {{ 'accessibility.loading' | t }}
            </p>
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
        {%- if cart != empty -%}
          {% render 'cart-coupan-code' %}
          {% render 'cart-collection' %}
          {% render 'product-pincode' %}
        {%-  endif -%}
      </cart-drawer-items>
      <div class="drawer__footer">
        {%- if settings.show_cart_note -%}
          <details id="Details-CartDrawer">
            <summary>
              <span class="summary__title">
                {{ 'sections.cart.note' | t }}
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </summary>
            <cart-note class="cart__note field">
              <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
              <textarea
                id="CartDrawer-Note"
                class="text-area text-area--resize-vertical field__input"
                name="note"
                placeholder="{{ 'sections.cart.note' | t }}"
              >{{ cart.note }}</textarea>
            </cart-note>
          </details>
        {%- endif -%}

        <!-- Start blocks -->
        <!-- Subtotals -->

        <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--end">
                    {{- 'icon-discount.svg' | inline_asset_content -}}
                    {{ discount.title | escape }}
                    (-{{ discount.total_allocated_amount | money }})
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          {%  comment %}
          <div class="totals" role="status">
            <h2 class="totals__total">{{ 'sections.cart.estimated_total' | t }}</h2>
            <p class="totals__total-value">{{ cart.total_price | money_with_currency }}</p>
          </div>

    
          <small class="tax-note caption-large rte">
            {%- if cart.duties_included and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- endif -%}
          </small>
         {%  endcomment %}
        </div>

        <!-- CTAs -->
      <div class="cart-summary-wrapper">
        <div class="title-icon-wrap">
          <span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.9778 20.408C19.0357 20.408 19.5646 20.408 19.9686 20.2021C20.3241 20.021 20.613 19.732 20.7941 19.3766C21 18.9726 21 18.4436 21 17.3857V11.1524C21 10.0945 21 9.56559 20.7941 9.16153C20.613 8.80612 20.3241 8.51715 19.9686 8.33606C19.5646 8.13018 19.0357 8.13018 17.9778 8.13018L7.02222 8.13018C5.96435 8.13018 5.43541 8.13018 5.03135 8.33606C4.67593 8.51715 4.38697 8.80612 4.20588 9.16153C4 9.56559 4 10.0945 4 11.1524L4 17.3857C4 18.4436 4 18.9725 4.20588 19.3766C4.38697 19.732 4.67593 20.021 5.03135 20.2021C5.43541 20.408 5.96434 20.408 7.02222 20.408H17.9778Z" fill="url(#paint0_linear_6268_14697)"/>
              <path d="M17.2222 14.2691C17.2222 14.5299 17.0108 14.7413 16.75 14.7413C16.4892 14.7413 16.2778 14.5299 16.2778 14.2691C16.2778 14.0083 16.4892 13.7968 16.75 13.7968C17.0108 13.7968 17.2222 14.0083 17.2222 14.2691Z" fill="url(#paint1_linear_6268_14697)"/>
              <path d="M16.2778 8.13018V4.82524C16.2778 4.03971 16.2778 3.64695 16.1123 3.40557C15.9677 3.19469 15.7438 3.05143 15.4918 3.00854C15.2033 2.95944 14.8467 3.12403 14.1334 3.45322L5.75574 7.31984C5.11964 7.61342 4.8016 7.76021 4.56866 7.98787C4.36272 8.18913 4.20553 8.43481 4.10909 8.70613C4 9.01304 4 9.36332 4 10.0639V14.7413M16.75 14.2691H16.7594M4 11.1524L4 17.3857C4 18.4436 4 18.9725 4.20588 19.3766C4.38697 19.732 4.67593 20.021 5.03135 20.2021C5.43541 20.408 5.96435 20.408 7.02222 20.408H17.9778C19.0357 20.408 19.5646 20.408 19.9686 20.2021C20.3241 20.021 20.613 19.732 20.7941 19.3766C21 18.9726 21 18.4436 21 17.3857V11.1524C21 10.0945 21 9.56559 20.7941 9.16153C20.613 8.80612 20.3241 8.51715 19.9686 8.33606C19.5646 8.13018 19.0357 8.13018 17.9778 8.13018L7.02222 8.13018C5.96435 8.13018 5.43541 8.13018 5.03135 8.33606C4.67593 8.51715 4.38697 8.80612 4.20588 9.16153C4 9.56559 4 10.0945 4 11.1524ZM17.2222 14.2691C17.2222 14.5299 17.0108 14.7413 16.75 14.7413C16.4892 14.7413 16.2778 14.5299 16.2778 14.2691C16.2778 14.0083 16.4892 13.7968 16.75 13.7968C17.0108 13.7968 17.2222 14.0083 17.2222 14.2691Z" stroke="#262626" stroke-width="1.4" stroke-linecap="square"/>
              <defs>
              <linearGradient id="paint0_linear_6268_14697" x1="4.44736" y1="11.7037" x2="21.4471" y2="11.7037" gradientUnits="userSpaceOnUse">
              <stop stop-color="#DDEDEB" stop-opacity="0"/>
              <stop offset="1" stop-color="#DDEDEB"/>
              </linearGradient>
              <linearGradient id="paint1_linear_6268_14697" x1="4.44736" y1="11.7037" x2="21.4471" y2="11.7037" gradientUnits="userSpaceOnUse">
              <stop stop-color="#DDEDEB" stop-opacity="0"/>
              <stop offset="1" stop-color="#DDEDEB"/>
              </linearGradient>
              </defs>
              </svg>
             </span>
            Price Summary
        </div>
        <div class="summary-content-wrapp">
          
          <div class="mrp-wrap">
            <span>
              MRP
            </span>
            <span>
              {{ cart.total_price | money_with_currency }}
              </span>
          </div>
          <div class="discount-wrap">
            <span>
              Discount
              </span>
              <span>
                {{ cart.total_discount | money_with_currency }}
              </span>
            </div>
            <div class="subtotal-wrap">
              <span>
                To Pay
                </span>
                <span>{{ cart.original_total_price | money_with_currency }}</span>
            </div>
        </div>
      </div>
        <div class="cart__ctas" {{ block.shopify_attributes }}>
          <div class="chekout-msg">Shipping and coupan discounts calculated at chekout</div>
          <div class="chekout-total-wrapper">
          <div class="totals" role="status">
            <p class="totals__total-value">{{ cart.total_price | money_with_currency }}</p>
          </div>
          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="cart__checkout-button button"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</cart-drawer>
