<div class="custom-megamenu-wrapper mega_linklist_wrapper">
<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline main-link-wrapp" role="list">
    {%- for link in section.settings.menu.links -%}
  
      <li class="main-link-item">
        {%- if link.links != blank -%}
          <div>
            <div id="Details-HeaderMenu-{{ forloop.index }}" class="custom-mega-menu">
              <a
                id="HeaderMenu-{{ link.handle }}"
                href="{{ link.url }}"
                class="header__menu-item list-menu__item link link--text focus-inset"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
              </a>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="child-mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list childlink--menu-wrap page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                  style="display:none;"
                >
                  {%- for childlink in link.links -%}
                    {%- capture data_image_url -%}
                      {%- if childlink.object.metafields.custom.mega_menu_image != blank -%}
                      {{- childlink.object.metafields.custom.mega_menu_image | image_url: width: 600 -}}
                      {%- endif -%}
                      {%- endcapture -%}
                    <li class="child-linklist child-link-item">
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                        data-image-url="{{ data_image_url }}"
                       >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <div class="grandchild-mega-menu__content">
                        <ul class="list-unstyled grandchild-linklist" role="list" style="display:none;">
                          {%- for grandchildlink in childlink.links -%}
                            {%- capture data_image_url -%}
                              {%- if grandchildlink.object.metafields.custom.mega_menu_image != blank -%}
                              {{- grandchildlink.object.metafields.custom.mega_menu_image | image_url: width: 600 -}}
                              {%- endif -%}
                              {%- endcapture -%}
                            <li class="grandchild-link-item">
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                                 data-image-url="{{ data_image_url }}"
                               >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          
          </div>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
<div class="linklist_image" style="display:none;">
  <img src="" class="menu-img" loading="lazy" width="auto" height="auto" alt="Menu Image"/>
</div>
</div>
