{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer  account section-{{ section.id }}-padding">

<div class="customer-details-wrapp ">
  <div class="act-page-head account-button">Your Account</div>
  <div class="customer-content-wrap white-block">
    <span class="c_name">Hi {{ customer.name }}
      <span>
        <a href="/account/addresses">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 20.1213H21M3 20.1213H4.67454C5.16372 20.1213 5.40832 20.1213 5.63849 20.0661C5.84256 20.0171 6.03765 19.9363 6.2166 19.8266C6.41843 19.7029 6.59138 19.53 6.93729 19.1841L19.5 6.62132C20.3285 5.79289 20.3285 4.44975 19.5 3.62132C18.6716 2.79289 17.3285 2.79289 16.5 3.62132L3.93726 16.1841C3.59136 16.53 3.4184 16.7029 3.29472 16.9047C3.18506 17.0837 3.10425 17.2788 3.05526 17.4829C3 17.713 3 17.9576 3 18.4468V20.1213Z" stroke="#262626" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
         </a>
      </span>
    </span>
    
    <span class="c_phone">{{ customer.phone }}</span>
    <span class="c_email">{{ customer.email }}</span>
  </div>

  <!-- Tab buttons -->
  <div class="order-wrap tab-button active act-head white-block flex gap-10" data-id="order--detail">
  {{ 'order-icon.svg' | inline_asset_content }} Your Order
  </div>
  <div class="address-wrap tab-button act-head white-block flex gap-10" data-id="address--detail">
    {{ 'address-icon.svg' | inline_asset_content }}  Your Address
  </div>
  <div class="shipping-wrap white-block ">
   <span class="act-head flex gap-10">{{ 'shiping-icon.svg' | inline_asset_content }} Free shipping</span>
    <span class="no-icon">On orders Above Rs.499</span>
  </div>

  <div class="fre_Shipping-content white-block">
    <div class="fre_Shipping-text">
      <span class="act-head flex gap-10">{{ 'tel-icon.svg' | inline_asset_content }} Have Questions?</span>
      <span class="no-icon">We're Here to Help</span>
    </div>
    <a href="#" class="button button-primary free_Shipping-btn">Contact Us</a>
  </div>
  <div class="logout-wrapper white-block">
    <a href="{{ routes.account_logout_url }} " class="flex align-center gap-10">
      
        {{- 'logout-icon.svg' | inline_asset_content -}}   
      {{ 'customer.log_out' | t }}
    </a>
  </div>

</div>
<!-- Tab content -->
<div class="details-content-wrapper flex-column">

  <div class="address-content-wrap tab-panel" data-target="address--detail">
    <div class="act-page-head address-button">Your Addresses</div>
   <div class="white-block mx-block-width mid-text"> {{ customer.default_address | format_address }} </div> 
  </div>

  <div class="orders-wrapper tab-panel active" data-target="order--detail">
    <div class="act-page-head desk-element order-button">Your Orders</div>
    
    {%- for order in customer.orders -%}
         <div class="customer-order-details">
     <div class="trans-bg-tbl"> <div class="order-details-wrapp">
        <span><span class="sm-head">Order Date</span><span class="mid-head">{{ order.created_at | time_tag: format: 'date' }}</span></span>
        <span><span class="sm-head">Order Id</span><span class="mid-head">{{ order.id }}</span></span>
        <span><span class="sm-head">Order Amount</span><span class="mid-head">{{ order.total_net_amount | money_with_currency }}</span></span>
        <div class="order-status flex flex-column">
          <span class="sm-head">Order Status</span>
          {{ order.fulfillment_status }}
        </div>
      </div>

  
      </div>
      <div class="order-items-details white-block radius-tp-0">
        <div class="orderd-prdct-wrap">
          {% for line_item in order.line_items %}
          <div class="line-items-product-wrap">
            <div class="line-item-image flex ">
              {{ line_item.product.featured_image | image_url: width: 100, height:100 | image_tag: loading:'lazy', class:'line-iem-img'}}
           <div class="act-prdct-info flex flex-column space-between">  <div class="act-prdct-title"> <span>{{ line_item.product.title }}</span></div>
             <div class="line-item-price">
              <span class="price">{{ line_item.product.price | money_with_currency }}</span>
              <span class="compare_at_price">{{ line_item.product.compare_at_price | money_with_currency }}</span>
            </div>
            </div></div>
          
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% comment %}
  <div>
    <div class="customer-order-wrapper">
      <h2>{{ 'customer.orders.title' | t }}</h2>
    
      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <caption class="visually-hidden">
              {{ 'customer.orders.title' | t }}
            </caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader">
                  {{ 'customer.orders.fulfillment_status' | t }}
                </th>
                <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a
                      href="{{ order.customer_url }}"
                      aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                    >
                      {{ order.name }}
                    </a>
                  </td>
                  <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td
                    headers="RowOrder ColumnPayment"
                    role="cell"
                    data-label="{{ 'customer.orders.payment_status' | t }}"
                  >
                    {{ order.financial_status_label }}
                  </td>
                  <td
                    headers="RowOrder ColumnFulfillment"
                    role="cell"
                    data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                  >
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                    {{ order.total_net_amount | money_with_currency }}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
            <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <span class="svg-wrapper">
                        {{- 'icon-caret.svg' | inline_asset_content -}}
                      </span>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                        {{- part.title -}}
                      </a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                      <span class="svg-wrapper">
                        {{- 'icon-caret.svg' | inline_asset_content -}}
                      </span>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>

    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>
  </div>
{% endcomment %}


{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
