{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div
  class="color-{{ section.settings.color_scheme }} isolate gradient video-section-wrapper"
>
  <div class=" section-{{ section.id }}-padding page-width">
    {%- if section.settings.title != blank -%}
      <h2 class="title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.title }}
      </h2>
    {%- endif -%}
    {% if section.settings.subtitle != blank %}
      <div class="subtitle sub_heading">
        {{ section.settings.subtitle }}
      </div>
    {% endif %}
    <div class="video-content-wrapper">
      <div class="video-block-wrap grid grid--4-col-desktop">
        {% for block in section.blocks %}
          {% if block.type == 'vidoe_block' %}
            <div class="content-items grid__item">
              <div class="video">
                {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
              </div>
              {% if block.settings.product != blank %}
                {% assign main_product = all_products[block.settings.product] %}
                <div class="product--items">
                  <div class="product-image">
                    {{
                        main_product.featured_image
                      | image_url: width: 100
                      | image_tag: loading: 'lazy', class: 'pro-img'
                    }}
                  </div>
                  <div class="product-title-price">
                    {{ main_product.title }}
                    <span>{{ main_product.price | money }}</span>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Video Section",
  "settings": [
     {
    "type": "inline_richtext",
    "id": "title",
    "default": "Title",
    "label": "Title"
  },
     {
    "type": "inline_richtext",
    "id": "subtitle",
    "label": "Sub-Title"
  },
     {
    "type": "color_scheme",
    "id": "color_scheme",
    "label": "t:sections.all.colors.label",
    "info": "t:sections.all.colors.has_cards_info",
    "default": "scheme-1"
  },
      {
    "type": "header",
    "content": "t:sections.all.padding.section_padding_heading"
  },
  {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 36
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom",
    "default": 36
  }
  ],
  "blocks": [
    {
      "type": "vidoe_block",
      "name":"Video Content",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Section"
    }
  ]
}
{% endschema %}
